
/* Palleta de cores  */
/* :root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
} */
/* Estilos globais */
* {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
}

/* Estilos para o Header */
header {
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-size: 24px;
  font-weight: bold;
}

/* Estilos para o Body */
main {
  padding: 20px;
  text-align: center;
}

main h2 {
  margin-bottom: 10px;
  color: #333;
}

main p {
  font-size: 18px;
  color: #666;
}
