@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');

*{
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
}
:root{
  --cor-1: #e23e57;
  --cor-2: #ffffff;
  --cor-3: #e96a7e;
  --cor-4: #ce1f3a;
  --cor-5: #e6e6e6;
  --cor-6: #ef97a4;
}