
  .main{
    background-color: var(--cor-5);
    color: var(--cor-1);
    padding: 20px;
  }
  .principal {
    max-width: 800px;
    margin: 0 auto;
    background-color: var(--cor-2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .heading {
    font-size: 2em;
    margin-bottom: 20px;
    color: var(--cor-4);
  }
 .paragraph {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 20px;
  }

